{% extends "base.html" %}

{% block content %}
    <h1 class="center">All Blog Entries</h1>
    <ul>
        {% for blog in all_blog_posts %}
            <li>
                <h2 class="center">
                   <a href="/blog?id={{blog.id}}">{{ blog.title }}</a>
                </h2>
                <p class="center">Author: <a href="/blog?user={{blog.owner.username}}">{{ blog.owner.username }}</a></p>
                <p class="center">{{blog.body}}</p>
                <p class="center">{{blog.created}}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
